/* Default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80') no-repeat center/cover;
}

/* Pokemon list */
ul.pokemon-list {
  list-style-type: none;
  padding: 20px;
}

ul.pokemon-list li {
  margin-bottom: 10px;
}

/* Pokemon button */
button.pokemon-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 200px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button.pokemon-button:hover {
  background-color: #ff5733;
  transform: scale(1.1);
}

/* Modal styles */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  width: 80%;
  text-align: center;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

.modal-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  ul.pokemon-list li {
    margin-bottom: 5px;
  }

  button.pokemon-button {
    padding: 8px 16px;
  }

  .modal-content {
    max-width: 300px;
    width: 90%; /* Adjusted width for smaller screens */
  }
}

@media (max-width: 480px) {
  button.pokemon-button {
    padding: 6px 12px;
  }
}

/* Heading styles */
h1, h6 {
  text-align: center;
  color: #fff;
}

h1 {
  padding-top: 30px;
  margin: 0 auto; /* Added to center the heading horizontally */
}
